
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--    <bean id="dev" class="org.hdoan.Dev">-->
<!--&lt;!&ndash;        <property name="laptop" ref="lap1"/>&ndash;&gt;-->
<!--&lt;!&ndash;       <constructor-arg ref="lap1" />&ndash;&gt;-->

<!--&lt;!&ndash;        <property name="age" value="12" />&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg index="0" value="14"/>&ndash;&gt;-->
<!--    </bean>-->

    <bean id="dev" class="org.hdoan.Dev" autowire="byType">
<!--        <property name="com" ref="com" />-->
    </bean>

    <bean id="com" class="org.hdoan.Laptop" primary="true">
    </bean>

    <bean id="com1" class="org.hdoan.Desktop">
    </bean>
</beans>

